.bg_color{
    background-color: #f0f0f0;
}
.two{
    color: blue;
}
#one{
    color: red !important;
}
.left{
    margin: 0 120px;
}
h5{
    cursor: pointer;
}
/* this is service */
.shadow{
    box-shadow: 15px 15px 15px 15px #aaaaaa;
    
}
.shadow:hover{
    background-color:#37A000;
    color: white;
    transition: 0.8s;
}

.form_input{
    width: 100%;
    border: 2px solid white;
    background:none
    color: white;
    margin-top: 20px;
    height: 55px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
}

.textarea{
    height: 110px;
    padding-top: 20px;
}

.send_btn{
    background-color: #a4b9be;
    width: 100%;
    height: 60px;
    text-align: center;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.send_btn:hover{
    background-color: blue;
    color: white;
}
.fcolor{
    background-color:#636e72;
    padding: 10px;
}
h3{
    color: red;
}
.contact{
    background-color: #2d3035 ;
    height: 730px;
    padding-top: 50px;
    margin-top: 30px;
}
.contact h2{
    color: white;
}
.contact p{
    color: #98a0a5;
    font-size: 20px;
}
